{% extends "base.html" %}

{% load i18n %}

{% block meta_title %}{{ thehotel.title }} {{ thehotel.city }}, {{ thehotel.state_province_code }}{% endblock %}

{% block meta_description %}
{{ thehotel.title }} is located in {{ thehotel.city }} {{ thehotel.state_province_code }}. {% if thehotel.low_rate or thehotel.high_rate %}Rates are between {{ thehotel.low_rate }} and {{ thehotel.high_rate }} {{ thehotel.rate_currency_code }}{% endif %}.
{% endblock %}

{% block title %}
{% trans "Hotel Detail" %}
{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}

{% if thehotel.thumbnail_url %}
<span style="float:right; margin-left:7px;">
<img src="{{ thehotel.thumbnail_url }}" alt="{{ thehotel.title|title }}" class="thumbnail"/>
<a href="#photos">Photos below</a>
</span>
{% endif %}
<h1>{{ thehotel.title }}</h1>
<address>
{{ thehotel.address1 }}<br />
{{ thehotel.city }}, {{ thehotel.state_province_code }} {% if  thehotel.postal_code %}{{ thehotel.postal_code }}{% endif %}
<br />{{ thehotel.country_code }}
</address>
    
<h2>Property Description</h2>
{{ thehotel.property_description|safe }}

{% if thehotel.area_information %}
<h2>Area Information</h2>
{{ thehotel.area_information|safe }}
{% endif %}


{% if thehotel.hotel_rating %}
<h4>Hotel Rating</h4>
<em>{{ thehotel.hotel_rating }}</em>
{% endif %}


{% if thehotel.trip_advisor_rating %}
<h4>Trip Advisor Rating</h4>
<em>{{ thehotel.trip_advisor_rating }}</em>
{% endif %}

{% if thehotel.thumbnail_url %}
<a id="photos"></a>
<h4>Property Photos</h4>
{% for img in thehotel.hotelimage_set.all %}
    <img src="{{ img.image_url }}" {% if img.alt %}alt="{{ img.alt }}"{% endif %} /><br /><br />
{% endfor %}
{% endif %}

{% endblock %}

{% block extra_third_col %}
{% if nearby_hotels %}
<div class="panel">
<h3>{% trans "Nearby Hotels" %}</h3>
<ul class="unstyled tweets">
    {% for h in nearby_hotels %}
    {% if h.hotelid != thehotel.hotelid %}
    <li>
        {% if h.thumbnail_url %}<img src="{{ h.thumbnail_url }}" alt="">{% endif %}
        <h4><a href="{{ h.get_absolute_url }}">{{ h.title|title }}</a></h4>
        <em>({{h.distance.mi|floatformat}} miles away)</em>
        <address><em>
        {{ h.address1 }}<br />
        {{ h.city }} {% if  h.postal_code %}{{ h.postal_code }}{% endif %}
        </em></address>
        </li>
    {% endif %}
    {% endfor %}
</ul>
</div>
{% endif %}
{% endblock %}