{% extends "base.html" %}

{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}

{% block title %}
{% trans "Home" %}
{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}
{% trans "Welcome to Hotel Retreats: Your guide to wellness hotels, hotel retreats, fitness hotels, and healthy lifetyle organic getaways." %}

<div class="blog-list-detail">
<h3>Recent Blog Posts</h3>
{% for blog_post in blog_post_list %}
    <h4><a href="{{ blog_post.get_absolute_url }}">{{ blog_post.title }}</a></h4>
{% endfor %}
</div>
{% endblock %}
