{% extends "base.html" %}

{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}

{% block title %}
{% trans "Home" %}
{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block extra_css %}
<style type="text/css">
.blog-list-detail img{float:left; margin-right:7px;}
</style>
{% endblock %}

{% block main %}
{% trans "Welcome to Hotel Retreats. We seek out and list hotels that specialize in creating a serene environment to relax, reflect and create. We love wellness hotels, green hotels; any type of boutique hotel that offers  healthy lifestyle options, even if only organic food." %}

<div class="blog-list-detail">
<h3>Featured Wellness Hotels</h3>
{% for welless_hotel in featured_hotel_list %}
    <img src="{{ welless_hotel.thumbnail_url }}" alt="{{ welless_hotel.title|title }}" class="thumbnail"/>
    <h4><a href="{{ welless_hotel.get_absolute_url }}">{{ welless_hotel.title|title }}</a></h4>
    <address><em>
    {{ welless_hotel.address1 }}<br />
    {{ welless_hotel.city }}, {{ welless_hotel.state_province_code }} {% if  welless_hotel.postal_code %}{{ welless_hotel.postal_code }}{% endif %}
    <br />{{ welless_hotel.country_code }}
    </em></address>
{% endfor %}
</div>

{% comment %}<div class="blog-list-detail">
<h3>Recent Blog Posts</h3>
{% for blog_post in blog_post_list %}
    <h4><a href="{{ blog_post.get_absolute_url }}">{{ blog_post.title }}</a></h4>
{% endfor %}
</div>{% endcomment %}

{% endblock %}
